<div class="content">
  <main class="main">
    <div id="create-blog-wrapper">
      <div class="blog-attr-wrapper">
        <label class="blog-attr-label" for="blog-title"><%= texts["POST_TITLE"] %></label>
        <input type="text" id="blog-title" name="title">
      </div>
      <div class="blog-attr-wrapper" id="blog-image">
        <label class="blog-attr-label" for="blog-image-url"><%= texts["POST_IMAGE_URL"] %></label>
        <input type="text" id="blog-image-url" name="image">
      </div>
      <div class="blog-attr-wrapper">
        <label class="blog-attr-label" for="blog-body"><%= texts["POST_BODY"] %></label>
        <label class="blog-attr-sub-label" for="blog-body"><%= texts["POST_MARKDOWN_INFO"] %></label>

        <div class="lang-wrapper">        
          <label for="language-select"><%= texts["POST_SELECT_LANG"] %></label>
          <select id="language-select">
            <option value="bg"><%= texts["POST_BULGARIAN"] %></option>
            <option value="en"><%= texts["POST_ENGLISH"] %></option>
          </select>
        </div>
        <textarea name="body" id="blog-body"></textarea>
      </div>

      <div class="blog-attr-wrapper" id="post-tags">
        <label class="blog-attr-label" for="blog-tags"><%= texts["POST_TAGS"] %></label>
        <label class="blog-attr-sub-label" for="blog-tags"><%= texts["POST_TAG_INFO"] %></label>
        <input type="text" id="blog-tags">
      </div>

      <div class="create-post-buttons">
        <input type="button" name="create-blog" id="create-post" class="post-btn" value="<%= texts["POST_CREATE"] %>">
        <input type="button" class="post-btn" name="continue-blog" id="add-language-btn" value="<%= texts["POST_ADD_LANGUAGE"] %>">
      </div>
    </div>

  </main>
</div>

<script src="/scripts/post.js" charset="utf-8" defer></script>