<main class="main posts">
  <div class="filter-bar">
    <div class="action-bar">
      <div class="header-bar serch-bar">
        <h2 class="users-titles"><%= texts["SEARCH_POST_SEARCH"] %></h2>
        <div class="criterias">
          <div class="criteria">
            <label><%= texts["SEARCH_POST_AUTHOR"] %> </label>
            <select name="username" class="criteria-select">
              <option value="all"><%= texts["SEARCH_POST_ALL"] %></option>
              <% bloggers.each do |blogger| %>
                <option value="<%= blogger.id %>"><%= blogger.username %></option>
              <% end %>
            </select>
          </div>
          <div class="criteria">
            <label><%= texts["SEARCH_POST_HAS_TAG"] %> </label>
            <select name="tags" class="criteria-select">
              <option value="all"><%= texts["SEARCH_POST_ALL"] %></option>
              <% tags.each do |tag| %>
                <option value="<%= tag.text %>"><%= tag.text %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>

      <div class="header-bar order-bar">
        <h2 class="users-titles"><%= texts["SEARCH_POST_ORDERING"] %></h2>
        <div class="criterias">
          <div class="criteria order">
            <label><%= texts["SEARCH_POST_BY_DATE"] %></label>
              <select name="date" class="criteria-select">
                <option value=""><%= texts["SEARCH_POST_NA"] %></option>
                <option value="asc"><%= texts["SEARCH_POST_ASC"] %></option>
                <option value="desc"><%= texts["SEARCH_POST_DESC"] %></option>
              </select>
          </div>

          <div class="criteria order">
            <label><%= texts["SEARCH_POST_BY_CC"] %></label>
              <select name="comment" class="criteria-select">
                <option value=""><%= texts["SEARCH_POST_NA"] %></option>
                <option value="asc"><%= texts["SEARCH_POST_ASC"] %></option>
                <option value="desc"><%= texts["SEARCH_POST_DESC"] %></option>
              </select>
          </div>
        </div>
      </div>
    </div>
    <input type="button" name="search" class="post-btn search-btn" value="<%= texts["SEARCH_GO"] %>">
  </div>

  <hr class="separator">
    <div id="post-container" class="post-container">
    </div>
</main>

<script src="/scripts/queryPosts.js" charset="utf-8" defer></script>