<main class="main posts">
  <div class="filter-bar">
    <div class="action-bar">
      <div class="header-bar serch-bar">
        <h2 class="users-titles">Searching</h2>
        <div class="criterias">
          <div class="criteria">
            <label>Author is: </label>
            <select name="username" class="criteria-select">
              <option value="all">All</option>
              <% bloggers.each do |blogger| %>
                <option value="<%= blogger.id %>"><%= blogger.username %></option>
              <% end %>
            </select>
          </div>
          <div class="criteria">
            <label>Has Tag: </label>
            <select name="tags" class="criteria-select">
              <option value="all">All</option>
              <% tags.each do |tag| %>
                <option value="<%= tag.text %>"><%= tag.text %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>

      <div class="header-bar order-bar">
        <h2 class="users-titles">Ordering</h2>
        <div class="criterias">
          <div class="criteria order">
            <label>By Date</label>
              <select name="date" class="criteria-select">
                <option value="">n/a</option>}
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
              </select>
          </div>

          <div class="criteria order">
            <label>By comments count</label>
              <select name="comment" class="criteria-select">
                <option value="">n/a</option>}
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
              </select>
          </div>
        </div>
      </div>
    </div>
    <input type="button" name="search" class="post-btn search-btn" value="Go">
  </div>

  <hr class="separator">
    <div id="test" class="post-container">
      <% posts.each do |post| %>
        <div class="short-post">
          <div class="short-post-image-container">
            <img class="short-post-image" src="http://cdn.playbuzz.com/cdn/925704be-9b8e-4dfc-852e-f24d720cb9c5/bcf39e88-5731-43bb-9d4b-e5b3b2b1fdf2.jpg" alt="Blogpost image">
          </div>
          <div class="short-post-body">
            <div>
              <h2 class="short-post-title">A piece of the Nature</h2>
              <h2 class="short-post-author"><%= texts["HOME_FROM"] %> Martin R. Hristov</h2>
              <h2 class="short-post-date">25.12.2016</h2>
            </div>
            <p class="short-post-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
            <span class="short-post-comments">420 <%= texts["HOME_COMMENTS"] %></span>
          </div>
        </div>

        <hr class="post-separator">
      <% end %>
    </div>
</main>

<script src="/scripts/queryPosts.js" charset="utf-8" defer></script>