<main class="main">
  <article class="blog-post" data-post-id="<%= post.id %>">

    <div class="post-header">
      <div class="post-image-wrapper">
        <img class="post-image" src="<%= post.image_url %>" alt="blog image">
      </div>
      <div class="post-info">
        <h1><%= post_content.title %></h1>
        <h3>author: <%= p post %></h3>
        <span>posted on: <%= post.date %></span>
      </div>
    </div>

    <div class="post-body"><%= body %></div>


    <div class="blog-footer">
      <span class="post-tags">tags: <%=
      tags = ''
      post.tags.each { |tag| tags += tag.text + " "}
      tags %></span>
      <span class="post-comments-count"><%= p post.comments.size %> comments</span>
    </div>


    <% if session[:user_id] %>
      <hr class="separator">
      <div class="add-comment">
        <span>Submit your comment</span>
        <textarea name="comment"></textarea>
        <input type="button" value="submit" id="comment-btn">
      </div>
    <% end %>

    <hr class="separator">

    <div class="comments-wrapper">
      <ul class="comments-list">
        <% post.comments.each do |comment| %>
        <li class="comment-list-item">
      	  <div class="comment-wrapper">
      	  	<div class="comment-author-image-wrapper">
      	  		<img src="" alt="comment-author-image">
      	  	</div>
      	  	<div class="comment-body-wrapper">
      	  		<span class="author-name"> <%= comment.user.username %></span>
                <p class="comment-text"><%=
                   markdown_renderer.render(comment.text)
                 %> </p>
      	  	</div>
      	  </div>
        </li>
        <% end %>
      </ul>
    </div>
  </article>
</main>

<script src="/scripts/addComment.js" charset="utf-8" defer></script>