<main class="main">
  <article class="blog-post" data-post-id="<%= post.id %>">

    <div class="post-header">
      <div class="post-image-wrapper">
        <img class="post-image" src="<%= post.image_url %>" alt="blog image">
      </div>
      <div class="post-info">
        <div class="post-text-info">
          <h1 class="post-title"><%= post_content.title %></h1>
          <input type="text" name="title" value="" class="edit-title">
          <h3><%= texts["HOME_FROM"] %>: <span class="browns"><%= post.user.username %></span></h3>
          <span><%= texts["VIEW_POST_POSTED"] %>: <%= post.date.strftime("%d.%m.%Y") %></span>
          <% if session[:user_id] && User.get(session[:user_id]).admin %>
            <span><%= texts["POST_ACTIVE"] %>: <%= post.active ? texts["APP_YES"] : texts["APP_NO"]%></span>
          <% end %>
        </div>
       <% if session[:user_id] && User.get(session[:user_id]).admin %>
          <input type="button" class="post-btn edit-post-btn" name="edit" value="Edit">
          <input type="button" class="post-btn save-post-btn" name="save" value="Save">
          <div class="activate-post">
            <label><%= texts["POST_ACTIVE"] %></label>
            <input type="checkbox" name="activate">
          </div>
        <% end %>
      </div>

      <% if session[:user_id] && User.get(session[:user_id]).admin %>
        <div class="delete-post">
          <img src="/images/delete.png" alt="depete comment" class="post-action-icon delete-post-icon">
        </div>
      <% end %>
    </div>

    <div class="post-body"><%= body %></div>

    <textarea class="edit-post-area"></textarea>

    <div class="blog-footer">
      <span class="post-tags"><%= texts["POST_TAGS"] %>: <span class="browns"><%=
      tags = ''
      post.tags.each { |tag| tags += "#" + tag.text + " "}
      tags %></span></span>
      <span class="post-comments-count"><%= p post.comments.size %> <%= texts["HOME_COMMENTS"] %></span>
    </div>


    <% if session[:user_id] %>
      <hr class="separator">
      <div class="add-comment">
        <span>Submit your comment</span>
        <textarea class="comment-area" name="comment"></textarea>
        <input type="button" value="submit" id="comment-btn">
      </div>
    <% end %>

    <hr class="separator">

    <div class="comments-wrapper">
      <ul class="comments-list">
        <% post.comments.each do |comment| %>
        <li class="comment-list-item">
      	  <div class="comment-wrapper" data-comment-id="<%= comment.id %>">
      	  	<div class="comment-author-image-wrapper">
      	  		<img src="/images/user.png" alt="comment-author-image" class="comment-author-image user-icon">
      	  		<span class="author-name"> <%= comment.user.username %></span>
            </div>
            <div class="comment-body-wrapper">
                <div class="comment-text"><%=
                   markdown_renderer.render(comment.text)
                 %> </div>

                 <textarea class="edit-comment"></textarea>
      	  	</div>
            <div class="comment-body-edit">
              <% if session[:user_id] && User.get(session[:user_id]).admin %>
                <img src="/images/edit.png" alt="edit comment" class="post-action-icon edit-icon">
                <img src="/images/save.png" alt="save comment" class="post-action-icon save-icon">
                <img src="/images/delete.png" alt="depete comment" class="post-action-icon delete-icon">
               <% end %>
            </div>
      	  </div>
        </li>
        <% end %>
      </ul>
    </div>
  </article>
</main>

<script src="/scripts/addComment.js" charset="utf-8" defer></script>